Repository LeeJMorel/PathKit, pull requests merged in 2023-05, with the labels that each got.

#167 Initial sqlite setup and supporting packages and dependencies added - CB
  PathKit/src-tauri/Cargo.lock
  PathKit/src-tauri/Cargo.toml
  PathKit/src-tauri/src/db.rs
  PathKit/src-tauri/src/db/sqlite.rs
  PathKit/src-tauri/src/main.rs
Labels: back-end dev

#176 Add to sqlite functionality and db table attributes, code formatting
  PathKit/src-tauri/src/db/sqlite.rs
Labels: back-end dev

#185 Update 5-03-23.md
  docs/reports/5-03-23.md
Labels: documentation, back-end dev

#190 Update README.md
  README.md
Labels: documentation

#200 Update 5-10-23.md
  docs/reports/5-10-23.md
Labels: documentation

#204 Update pull_request_template.md
  .github/pull_request_template.md
Labels: documentation

#205 Dice bug
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/db.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/components/cards/Card.module.scss
  src/components/forms/AddEntityForm.tsx
  src/components/forms/EntityFormFields.tsx
  src/components/inputs/Checkbox.tsx
  src/components/inputs/FileInput.tsx
  src/components/inputs/FormField.tsx
  src/components/inputs/Inputs.module.scss
  src/components/inputs/Inputs.types.ts
  src/components/inputs/TextInput.tsx
  src/components/inputs/index.ts
  src/components/menus/MainMenu.tsx
  src/components/modules/DiceModule.tsx
  src/components/sheets/EditEntitySheet.tsx
  src/components/sheets/EntitySheet.tsx
  src/components/sheets/Sheets.module.scss
  src/hooks/index.ts
  src/hooks/useEntities.ts
  src/hooks/useResources.ts
  src/hooks/useStore.tsx
  src/utilities/dataTransform.ts
  src/utilities/index.ts
Labels: bug

#211 Creates a form with formik instead of my own
  src/components/forms/AddEntityForm.tsx
  src/components/forms/EntityFormFields.tsx
  src/components/forms/Form.module.scss
  src/components/forms/InitiativeForm.tsx
  src/components/forms/NewCampaignForm.tsx
  src/components/forms/entityFormChildren/ActionForm.tsx
  src/components/forms/entityFormChildren/AddSpellForm.tsx
  src/components/forms/entityFormChildren/EntityActionsForm.tsx
  src/components/forms/entityFormChildren/EntityAttacksForm.tsx
  src/components/forms/entityFormChildren/EntityEquipmentForm.tsx
  src/components/forms/entityFormChildren/EntityFeaturesForm.tsx
  src/components/forms/entityFormChildren/EntityGeneralForm.tsx
  src/components/forms/entityFormChildren/EntitySpellsForm.tsx
  src/components/forms/entityFormChildren/EquipmentForm.tsx
  src/components/forms/entityFormChildren/FeatureForm.tsx
  src/components/forms/entityFormChildren/FreeActionForm.tsx
  src/components/forms/entityFormChildren/MeleeForm.tsx
  src/components/forms/entityFormChildren/PassiveEffectForm.tsx
  src/components/forms/entityFormChildren/RangedForm.tsx
  src/components/forms/entityFormChildren/ReactionForm.tsx
  src/components/forms/entityFormChildren/SpellPoolForm.tsx
  src/components/forms/entityFormChildren/index.ts
  src/components/headers/CollapsibleHeader.tsx
  src/components/inputs/Checkbox.tsx
  src/components/inputs/FileInput.tsx
  src/components/inputs/FormField.tsx
  src/components/inputs/Inputs.types.ts
  src/components/inputs/TextInput.tsx
  src/components/menus/MainMenu.tsx
  src/components/menus/Menu.module.scss
  src/components/tabs/Tab.module.scss
  src/components/tabs/tab.tsx
  src/utilities/playerHealth.ts
Labels: bug, enhancement

#212 Income module added and collapsible header fixed and implemented
  package-lock.json
  src/components/modules/BinderModule.tsx
  src/components/modules/DCModule.tsx
  src/components/modules/IncomeModule.tsx
  src/components/modules/NotesModule.tsx
  src/components/modules/index.ts
  src/hooks/usePreferencesStore.ts
Labels: bug, enhancement, front-end dev

#216 bug fixes: entity notes update correctly, style
  package-lock.json
  package.json
  src/App.module.scss
  src/api/model/entity.ts
  src/components/buttons/Button.module.scss
  src/components/cards/EntityCard.tsx
  src/components/dropdowns/CreationDropdown.tsx
  src/components/formFields/FileUploader.tsx
  src/components/formFields/FormField.module.scss
  src/components/forms/AddEntityForm.tsx
  src/components/forms/Form.module.scss
  src/components/forms/NewCampaignForm.tsx
  src/components/forms/entityFormChildren/EntityGeneralForm.tsx
  src/components/forms/entityFormChildren/EntitySkillsForm.tsx
  src/components/forms/entityFormChildren/EntitySpellsForm.tsx
  src/components/forms/entityFormChildren/SpellPoolForm.tsx
  src/components/headers/FilterHeader.tsx
  src/components/modules/IncomeModule.tsx
  src/components/objects/NoteObject.tsx
  src/components/objects/Objects.module.scss
  src/components/objects/StatObject.tsx
  src/components/sheets/EditEntitySheet.tsx
  src/components/sheets/EditPathSheet.tsx
  src/components/sheets/EntitySheet.tsx
  src/components/sheets/NotesSheet.tsx
  src/components/sheets/Sheets.module.scss
  src/hooks/useNotes.ts
  src/hooks/useStore.tsx
  src/index.scss
  src/styles/darkTheme.scss
  src/styles/highContrastDarkTheme.scss
  src/styles/highContrastTheme.scss
  src/styles/parchmentTheme.scss
  src/utilities/dataTransform.ts
Labels: bug

#217 Markdown editor
  package-lock.json
  package.json
  src/App.tsx
  src/assets/iconKey/SpellAction.tsx
  src/components/buttons/Button.module.scss
  src/components/cards/EntityCard.tsx
  src/components/menus/MainMenu.tsx
  src/components/menus/Menu.module.scss
  src/components/modules/Modules.module.scss
  src/components/objects/BinderObject.tsx
  src/components/objects/NoteEditor.scss
  src/components/objects/NoteObject.tsx
  src/components/objects/Objects.module.scss
  src/components/sheets/EditEntitySheet.tsx
  src/components/sheets/EditPathSheet.tsx
  src/components/sheets/EntitySheet.tsx
  src/components/sheets/LicenseSheet.tsx
  src/components/sheets/SheetHeader.tsx
  src/components/sheets/Sheets.module.scss
  src/hooks/usePreferencesStore.ts
  src/index.scss
Labels: enhancement

#219 creates hazard entities, creates tag traits
  README.md
  src/api/database/queries/init_db.sqlite.ts
  src/api/model/entity.ts
  src/assets/defaultImage/hazard.png
  src/components/cards/EntityCard.tsx
  src/components/displays/DataCellDisplay.tsx
  src/components/displays/Display.module.scss
  src/components/dropdowns/CreationDropdown.tsx
  src/components/forms/AddEntityForm.tsx
  src/components/forms/entityFormChildren/EntityActionsForm.Actions.tsx
  src/components/forms/entityFormChildren/EntityActionsForm.Reactions.tsx
  src/components/forms/entityFormChildren/EntityAttacksForm.Melee.tsx
  src/components/forms/entityFormChildren/EntityAttacksForm.Ranged.tsx
  src/components/forms/entityFormChildren/EntityGeneralForm.tsx
  src/components/menus/MainMenu.tsx
  src/components/menus/RemoveFromPlanMenu.tsx
  src/components/objects/BinderObject.tsx
  src/components/objects/PathObject.tsx
  src/components/sheets/EditPathSheet.tsx
  src/components/sheets/EntitySheet.tsx
  src/consts/buildProperties.ts
  src/consts/defaultData.ts
  src/consts/entityFormSchema.ts
  src/styles/palette.scss
  src/utilities/dataTransform.ts
Labels: enhancement

#220 Added Conditions module (features Archives of Nethys wikidata)
  src/components/modules/ConditionModule.tsx
  src/components/modules/index.ts
  src/components/objects/ConditionObject.tsx
  src/components/objects/Objects.module.scss
  src/hooks/usePreferencesStore.ts
Labels: enhancement

#221 adds credits, hides searchbar, fixes stats render
  src/App.tsx
  src/components/displays/Display.module.scss
  src/components/displays/StatsDisplay.tsx
  src/components/menus/MainMenu.tsx
  src/components/menus/Menu.module.scss
Labels: bug, enhancement

#223 creates tutorial module
  src/components/menus/MainMenu.tsx
  src/components/modules/TutorialModule.tsx
  src/components/modules/index.ts
  src/hooks/usePreferencesStore.ts
  src/utilities/campaignValidation.ts
  src/utilities/index.ts
  website/public/vite.svg
  website/src/App.module.scss
  website/src/App.tsx
  website/src/hooks/useDownload.ts
Labels: front-end dev

#225 allows users to import export campaigns, web logos
  index.html
  package-lock.json
  package.json
  public/vite.svg
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/App.tsx
  src/api/database/database.ts
  src/api/database/queries/init_db.sqlite.ts
  src/api/model/campaign.ts
  src/api/model/entity.ts
  src/api/model/note.ts
  src/api/model/path.ts
  src/components/cards/EntityCard.tsx
  src/components/formFields/FileUploader.tsx
  src/components/formFields/index.ts
  src/components/forms/ImportCampaignForm.tsx
  src/components/forms/InitiativeForm.tsx
  src/components/forms/entityFormChildren/EntityGeneralForm.tsx
  src/components/menus/CampaignMenu.tsx
  src/components/menus/DeleteMenu.tsx
  src/components/menus/InitiativeMenu.tsx
  src/components/menus/MainMenu.tsx
  src/components/menus/RemoveFromPlanMenu.tsx
  src/components/menus/WelcomeMenu.tsx
  src/components/modules/NotesModule.tsx
  src/components/modules/TipModule.tsx
  src/components/objects/BinderObject.tsx
  src/components/objects/ImportEntity.tsx
  src/components/objects/NoteObject.tsx
  src/components/sheets/EditEntitySheet.tsx
  src/components/sheets/EditPathSheet.tsx
  src/components/sheets/EntitySheet.tsx
  src/components/sheets/NotesSheet.tsx
  src/consts/entityFormSchema.ts
  src/hooks/index.ts
  src/hooks/useCampaigns.ts
  src/hooks/useEntities.ts
  src/hooks/useMigrate.ts
  src/hooks/useNotes.ts
  src/hooks/usePaths.ts
  src/hooks/usePreferencesStore.ts
  src/hooks/useStore.tsx
  src/utilities/campaignValidation.ts
  src/utilities/dataTransform.ts
  website/index.html
  website/public/bigPKIcon.png
  website/public/bigPKIcon.svg
  website/public/littlePKIcon.png
  website/public/littlePKIcon.svg
  website/src/App.module.scss
  website/src/App.tsx
  website/src/assets/bigPKIcon.png
Labels: enhancement

#226 adds tutorial module
  src/components/formFields/FileUploader.tsx
  src/components/forms/ImportCampaignForm.tsx
  src/components/forms/entityFormChildren/EntityGeneralForm.tsx
  src/components/menus/CampaignMenu.tsx
  src/components/menus/MainMenu.tsx
  src/components/modules/TutorialModule.tsx
  src/components/objects/Objects.module.scss
  src/hooks/usePreferencesStore.ts
  src/utilities/campaignValidation.ts
  website/src/hooks/useDownload.ts
Labels: enhancement

#232 Update ci
  .github/workflows/verify_backend.yaml
  .github/workflows/verify_frontend.yml
Labels: test

#237 Update 5-17-23.md
  docs/reports/5-17-23.md
Labels: documentation

#241 Add ci deps
  .github/workflows/verify_backend.yaml
  .github/workflows/verify_frontend.yml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Labels: test

#248 Update 5-24-23.md
  docs/reports/5-24-23.md
Labels: documentation
